<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Weather App - Created by Amit Sinha</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/weather-icons.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
</head>

<body id="page-top" ng-controller="weatherCtrl">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Weather Application</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#contact">It's a demo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <form action="" method="post" name="form_citydetails" id="form_citydetails" enctype="multipart/form-data" onsubmit="return false;">
                <div col-lg-8 col-lg-offset-2 text-center>
                    <h3>Select your city for weather update</h3>
                    <label></label>
                    <input type="search" id="Autocomplete" required class="search-box" ng-autocomplete="result1" details="details1" options="options1" />
                    <button class="close-icon" type="reset"></button>
                </div>
            </form>

            <div class="header-content-inner">
                <hr>
                <div>
                    <a href="#weather" class="btn btn-primary btn-xl page-scroll" ng-click="findWeather(result1)">What's the weather</a>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="weather">
        <div ng-if="!info" class="alert alert-info">
            <strong>Info!</strong> You have not selected any place for the weather! Try Again by clicking "Weather Application" and selecting a place!
        </div>
        <div class="container" ng-if="info">
            <div class="row">
                <div>
                    <span>
                        <input id="celcius" name="question" type="radio" class="with-font" value="c" checked ng-click="findWeatherWithC(location)"/>
                        <label for="celcius">°Celsius</label>
                    </span>
                    <span>
                        <input id="fahrenheit" name="question" type="radio" class="with-font" value="f" ng-click="findWeatherWithF(location)"/>
                        <label for="fahrenheit">°Fahrenheit</label>
                    </span>
                </div>
                <div>
                    <h4>Today</h4>
                    <h1 style="display:inline;"> <i class="wi wi-yahoo-{{place.item.condition.code}}"></i></h1>
                    <h2 style="display:inline;">{{ place.location.city }}, {{ place.location.country}}</h2>
                </div>
                <div>
                    <h4>{{ place.item.condition.text }} | {{ place.item.condition.temp }}°{{degree}}</h4>
                </div>
                <hr class="white" align="left">
                <div class="row">
                    <div class="col-sm-2">
                        <h5><u>Details</u></h5>
                        <h6>{{ place.item.forecast[0].text }}</h6>
                        <h6>Low: {{ place.item.forecast[0].low }}°{{degree}}</h6>
                        <h6>high: {{ place.item.forecast[0].high }}°{{degree}}</h6>
                        <h6>humidity: {{ place.atmosphere.humidity }}°{{degree}}</h6>
                        <h6>pressure: {{ place.atmosphere.pressure }}</h6>
                        <h6>visibility: {{ visibility.atmosphere.speed }} {{ place.unit.distance }}</h6>
                    </div>
                    <div class="col-sm-2">
                        <h5><u>Wind</u></h5>
                        <h6>chill: {{ place.wind.chill }}°{{degree}}</h6>
                        <h6>direction: {{ place.wind.direction }}</h6>
                        <h6>speed: {{ place.wind.speed }} {{ place.units.speed }}</h6>
                    </div>
                </div>
                <a href="#forecast" style="color:#fff">Forecast for next four days!</a>
            </div>
        </div>
    </section>
    <section class="bg-service" ng-if="info" id="forecast">
        <div class="container">
            <div>
                <h3> Next four days forecast for {{ place.location.city }}, {{ place.location.country}}</h3>
            </div>
            <div class="row">
                <div class="col-xs-6" ng-repeat="forecast in place.item.forecast.slice(1, 5)">
                    <div class="panel-transparent">
                        <div class="panel-heading">
                            <h3 style="display:inline;"><b>{{ forecast.day }}</b>,</h3>
                            <h4 style="display:inline;">{{ forecast.date }}</h4>
                        </div>
                        <div class="panel-body">
                            <h1> <i class="wi wi-yahoo-{{forecast.code}}"></i></h1>
                            <p>{{ forecast.text }}</p>
                            <p>high: {{ forecast.high }}°{{degree}} | Low: {{ forecast.low }}°{{degree}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>This is a simple demo project! A static web page, using angular and bootstrap. For location, google map and for weather, yahoo weather service is used.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>0744-019-4567</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">aks.sinha.amit@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.16/angular.js" data-semver="1.2.16"></script>
    <script src="app.js"></script>
</body>

</html>